<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="index.ejs">main</a></li>
        <li><a href="p1.ejs">page1</a></li>
        <p>jkgadsugasudgguasd</p>
        <li><a href="p2.ejs">page2</a></li>
        <h2>users</h2>
        <% for ( let i =0 ; i < users.length;i++) { %>
            <li> <% users[i].name %> </li>
        <% } %> 
    </ul>
</body>
</html>